@model Proiect_ASP.Models.Produs

<div>
    <p>Toate câmpurile sunt obligatorii</p>
    <ul>
        <li>titlul trebuie să conțină între două și 100 de caractere</li>
        <li>descrierea trebuie să conțină între 10 și 4096 de caractere</li>
        <li>prețul trebuie să fie cuprins între 0 și 1 miliard</li>
        <li>cantitatea produsului trebuie să fie cuprinsă între 1 și 1 milion</li>
    </ul>
</div>
<br />
<div class="form-group">
    <label>Titlu</label>
    <input class="form-control" type="text" name="titlu" value="@Model.titlu" />
    @Html.ValidationMessageFor(m => m.titlu, null, new { @class = "text-danger" })
</div>
<br />
<div class="form-group">
    <label>Descriere</label>
    <input class="form-control" type="text" name="descriere" value="@Model.descriere" />
    @Html.ValidationMessageFor(m => m.descriere, null, new { @class = "text-danger" })
</div>
<br />
<div class="form-group">
    <label>Preț</label>
    <input class="form-control" type="number" name="pret" value="@Model.pret" />
    @Html.ValidationMessageFor(m => m.pret, null, new { @class = "text-danger" })
</div>
<br />
<div class="form-group">
    <label>Cantitate</label>
    <input class="form-control" type="number" name="cantitate" value="@Model.cantitate" />
    @Html.ValidationMessageFor(m => m.cantitate, null, new { @class = "text-danger" })
</div>
<br />
<input class="form-control" type="hidden" name="idOwner" value="@Model.idOwner" />
@Html.ValidationMessageFor(m => m.idOwner, null, new { @class = "text-danger" })
<br />
