
@{
    ViewBag.Title = "Afisare";
}

@model Proiect_ASP.Models.Produs

<h2>@Model.titlu</h2>
@foreach (var categ in Model.CategoriiAsociate)
{   
    <a href="/Categorie/Afisare/@categ.Value">@categ.Text</a>
}
<br />
<hr />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-user"></i> Producător: @Model.idOwner
            </div>
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-tag"></i> Preț: @Model.pret
            </div>
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-question-sign"></i> Cantitate disponibilă: @Model.cantitate
            </div>
        </div>
        <br />
        @Model.descriere
        <br />
        <br />
        <i class="glyphicon glyphicon-calendar"></i> Adăugat la data de: @Model.dataAdaugare
    </div>
    <div class="panel panel-footer">
        <form method="post" action="/Produs/Stergere/@Model.idProdus">
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger" type="submit">Șterge permanent acest produs</button>
        </form>
        <br />
        <a class="btn btn-info" href="/Produs/Editare/@Model.idProdus" role="button">Editează acest produs</a>
    </div>
</div>





