
@{
    ViewBag.Title = "Afisare";
}

<h2>@ViewBag.produs.titlu</h2>
@foreach (var categ in ViewBag.categorii)
{   
    <a href="/Categorie/Afisare/@categ.idCategorie">@categ.titlu</a>
}
<br />
<hr />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-user"></i> Producător: @ViewBag.produs.idOwner
            </div>
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-tag"></i> Preț: @ViewBag.produs.pret
            </div>
            <div class="col col-md-4">
                <i class="glyphicon glyphicon-question-sign"></i> Cantitate disponibilă: @ViewBag.produs.cantitate
            </div>
        </div>
        <br />
        @ViewBag.produs.descriere
        <br />
        <br />
        <i class="glyphicon glyphicon-calendar"></i> Adăugat la data de: @ViewBag.produs.dataAdaugare
    </div>
    <div class="panel panel-footer">
        <form method="post" action="/Produs/Stergere/@ViewBag.produs.idProdus">
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger" type="submit">Șterge permanent acest produs</button>
        </form>
        <br />
        <a class="btn btn-info" href="/Produs/Editare/@ViewBag.produs.idProdus" role="button">Editează acest produs</a>
    </div>
</div>





