
@{
    ViewBag.Title = "FormEditare";
}

<h2>Editează produsul (functionalitate la care ar trebui sa aiba acces doar userii colaboratori / adminii?)</h2>

<form method="post" action="/Produs/Editare/@ViewBag.produs.idProdus">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <div class="form-group">
        <label>Titlu</label>
        <input class="form-control" type="text" name="titlu" value="@ViewBag.produs.titlu" />
    </div>
    <br />
    <div class="form-group">
        <label>Descriere</label>
        <input class="form-control" type="text" name="descriere" value="@ViewBag.produs.descriere" />
    </div>
    <br />
    <div class="form-group">
        <label>Preț</label>
        <input class="form-control" type="number" name="pret" value="@ViewBag.produs.pret" />
    </div>
    <br />
    <div class="form-group">
        <label>Cantitate</label>
        <input class="form-control" type="number" name="cantitate" value="@ViewBag.produs.cantitate" />
    </div>
    <br />
    <input class="form-control" type="hidden" name="idOwner" value="@ViewBag.produs.idOwner" />
    <br />
    <button class="btn btn-success" type="submit">Salveaza modificările</button>
    <br />
    <hr />
</form>
<br />
<form method="post" action="/Produs/ModificaCategoriiAsociate/@ViewBag.produs.idProdus">
    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <select class="form-control" name="categoriiActualizateId" multiple>

        @foreach (var categ in ViewBag.categoriiAsociate)
        {
            <option value="@categ.idCategorie" selected>@categ.titlu</option>
        }
        @foreach (var categ in ViewBag.categoriiNeasociate)
        {
            <option value="@categ.idCategorie">@categ.titlu</option>
        }

    </select>
    <br />
    <br />
    <button class="btn btn-success" type="submit">Modifică categoriile</button>

</form>



