
@{
    ViewBag.Title = "FormEditare";
}

@model Proiect_ASP.Models.Produs

<h2>Editează produsul (functionalitate la care ar trebui sa aiba acces doar userii colaboratori / adminii?)</h2>

<form method="post" action="/Produs/Editare/@Model.idProdus">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    
    @Html.Partial("InputProdus", @Model)
    <button class="btn btn-success" type="submit">Salveaza modificările</button>
    <br />
    <hr />
</form>
<br />
<form method="post" action="/Produs/ModificaCategoriiAsociate/@Model.idProdus">
    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <select class="form-control" name="categoriiActualizateId" multiple>

        @foreach (var categ in Model.CategoriiAsociate)
        {
            <option value="@categ.Value" selected>@categ.Text</option>
        }
        @foreach (var categ in Model.CategoriiNeasociate)
        {
            <option value="@categ.Value">@categ.Text</option>
        }

    </select>
    <br />
    <br />
    <button class="btn btn-success" type="submit">Modifică categoriile</button>

</form>



